*.idea*
.DS_Store
.DS_Store?
*.swp
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.exe
*.out
*.o
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.a
*.sqlite3
*.pyc
*__pycache__*
*.txt*
*.log
*.ini
*.csv
*.mp3
*.mp4
*.m4a
*.wav
*.json
venv/
.save
*.spec
*.qmlc
dist/
build/
*.seg
